/* Note: colors
 * Cardinal Red: #8C1515
 * Cool Gray: #4D4F53
 * Very Light Gray: #EEEEEE;
 * Very Dark Gray: #333333;
 */

/* Initialize Responsiveness */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 80rem;
    width: 90%;
}

.column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
}
/* Something to look into: */
/*.text.column:after {
    background-image:url("../images/flower-bg.png");
    background-repeat: no-repeat;
    content: '';
    position:absolute;
    z-index: -1;
    height: 271px;
    width: 296px;
    padding: 10rem;
}*/

.column.half {
    width: 50%;
}
.column.quarter {
    width: 25%;
}
.column.threeq {
    width: 75%;
}
.column.full {
    width: 100%;
}
.column.third {
    width: 33%;
}
.column.rest {
    overflow: hidden;
    float: none;
}
.center {
    text-align: center;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.row {
    margin: 0rem 0rem;
    padding: 2rem 0px;
    *zoom: 1;
}

.eventBox1 {
    background-color: #dddddd;
}

.eventBox2 {
    background-color: #eeeeee;
}

.eventBox1 h3, .eventBox2 h3 {
    color: #888888;
}
.eventBoxDivider {
    background-color: #8C1515;
    color: white;
}


/* General Attributes */
@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/source_sans/SourceSansPro-Regular.otf");
}
@font-face {
    font-family: "Chifont";
    src: url("../fonts/simkai.ttf");
    /*src: url("../fonts/HDZB_74.TTF");*/
}
@font-face {
    font-family: "News Gothic Light";
    src: url("../fonts/news_gothic_light.ttf");
}
@font-face {
    font-family: "Muli";
    src: url("../fonts/Muli/Muli-Regular.ttf");
}
@font-face {
    font-family: "Raleway";
    src: url("../fonts/raleway/Raleway-Medium.ttf");
}
@font-face {
    font-family: "Handlee";
    src: url("../fonts/Handlee-Regular.ttf");
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: "Source Sans Pro", Arial, "Chifont", sans-serif;
    font-size: 18px;
    color: #4D4F53;
    background-color: white;
    line-height: 1.4em;
    min-width: 1463px;
}

h1, h2 {
    font-family: Raleway, Chifont;
}
h1 {
    padding: 0.3em 0rem;
}

h2 {
    margin: 0.5em 0em;
}



/* Header */

#header {
    padding: 0rem 2rem;
    background-color: #4D4F53;
    color: #eeeeee;
    text-align: justify;
    box-shadow: 0px 0px 5px black;
}
#mainpage #header {
    background-color: #222222;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#header li {
    font-size: 18px;
    font-family: "Raleway";
}
#header::after {
    content: '';
    display: inline-block;
    width: 100%;
}
#header a:link, #header a:visited, #footer a:link, #footer a:visited {
    color: #dddddd;
    text-decoration: none;
}

#header a:hover, #header a:active, #footer a:hover, #footer a:active {
    color: #ffffff;
    text-decoration: underline;
}
#header h1 {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding-top: 2rem;
    margin: 0rem;
}
#header h3, h4 {
    display: inline-block;
}
#header #navbar {
    display: inline-block;
    vertical-align: middle;
    padding-top: 1rem;
}
#header ul {
    height: 100%;
}
#header li {
    padding: 0rem 1rem;
    display: inline;
    list-style-type: none;
}
/* TODO: put in a better place */
a:link, a:visited {
    color: #8C1515;
    text-decoration: none;
}

a:hover, a:active {
    color: #AC5555;
    text-decoration: underline;
}

body#mainpage {
    color: #eeeeee;
    /*background-color: #333333;
    background-image: url("../images/panorama2.jpg");
    background-repeat: no-repeat;
    height: 100%;*/
    margin: 0;
    padding: 0;
    height: 100%;

}

html body#mainpage {
    background: url("../images/panorama3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Animation are so awesome */
a {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}



/* First Page Content */

.carousel {
    font-size: 25px;
}

.carousel-main {
    /*background-image: url("../images/panorama2.jpg");
    background-repeat: no-repeat;
    background-color: #333333;*/
    font-size: 25px;
    overflow: hidden;
}

.carousel .container {
    padding: 5rem 2rem;
}

.carousel-main .container {
    padding: 3rem 2rem 5rem 2rem;
    /*height: 60rem; /* Need a better fix */
}

#carousel-about {
    background-color: #333333;
    background-image: url("../images/stanford.jpg");
    background-repeat: no-repeat;
    color: #eeeeee;
}

#carousel-events {
    background-color: #333333;
    background-image: url("../images/panorama1.jpg");
    background-repeat: no-repeat;
    color: #eeeeee;
}

#carousel-people {
    background-color: #333333;
    background-image: url("../images/trees.jpg");
    background-repeat: no-repeat;
    color: #eeeeee;
}

.column.half.mainpage {
    height: 15rem;
    padding: 1rem 1rem;
    color: #333333;
}
.column.half.mainpage img {

}

.column.half.mainpage:hover {
    box-shadow: -2px -2px 2px #cccccc;
}
/*.column.half.image {
    overflow: hidden;
}
.column.half.image img{
    width: 100%;
}*/
.column.half.event {
    overflow: hidden;
}
.column.half.event img {
    width: 100%;
}




/* Remainder */
/*.person {
    font-size: 15px;
}*/

.about {
    height: 401px;
    overflow: hidden;
    padding: 2rem;
    background-color: #eeeeee;
}

.involved {
    background-color: #eeeeee;
    padding: 2rem;
}
.involved:last-child {
    border-left: 2px solid #4D4F53;
}

.person .column {
    position: relative;
    padding: 2rem;
    transition: 0.5s;
    background-color: #eeeeee;
    margin-bottom: 2rem;
}

.person:hover .column {
    box-shadow: 0px 0px 2px black;
    background-color: #dddddd;
}

.person .column .main {
    position: absolute;
    left: 265px;
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

.person:hover .column .main {
    visibility: hidden;
    opacity: 0;
}


.person .column .description {
    position: absolute;
    left: 265px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    padding-right: 2rem;
}

.person:hover .column .description {
    visibility: visible;
    opacity: 1;
    height: 100%;
    overflow: auto;
}

.person-top h2 {
    margin-bottom: .3em;
}
.person-top p {
    display: inline;
    margin-bottom: 0px;
}


.person img {
    float:left;
    margin-right: 2rem;
}

#wrapper {
    min-height: 100%;
    position: relative;
}
#wrapper #content {
    padding-bottom: 120px; /*Pretty hacky, I don't know how it will look*/
}

#mainpage #wrapper #content {
    background: -webkit-linear-gradient(left, rgba(20,20,20,0.1), rgba(20,20,20,0.4), rgba(20,20,20,0.1));
    background: -o-linear-gradient(right, rgba(20,20,20,0.1), rgba(20,20,20,0.4), rgba(20,20,20,0.1));
    background: -moz-linear-gradient(right, rgba(20,20,20,0.1), rgba(20,20,20,0.4), rgba(20,20,20,0.1));
    background: linear-gradient(to right, rgba(20,20,20,0.1), rgba(20,20,20,0.4), rgba(20,20,20,0.1));
}

/* Footer */
#footer {
    background-color: #8C1515;
    color: #eeeeee;
    padding: 1rem 0rem;
    margin: 0rem;
    font-size: 15px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
#mainpage #footer {
    background-color: black;
    color: #eeeeee;
    padding: 1rem 0rem;
    margin: 0rem;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#footer h1, h2, h3, h4, h5, h6, p {
    margin-top: 0px;
}

#footer .container .row {
    padding: 0px;
}


/* other stuff */

img {
    border: 1px solid #4D4F53;
/*    box-shadow: 0px 0px 5px #000000;*/
}
#mainpage img {
    border: none;
}
#footer img {
    border: none;
}
table {
    border-spacing: 2rem 0rem;
    border-collapse: separate;
}
th {
    text-align: left;
}

a.button {
    padding: 0.7rem;
    margin: 0.3rem;
    border: 2px solid #4D4F53;
    color: #ffffff;
}

a:link.button, a:visited.button {
    background-color: #333333;
    text-decoration: none;
}

a:hover.button, a:active.button {
    background-color: #4D4F53;
    text-decoration: none;
}

.small {
    font-size: 15px;
    line-height: 1.2em;
}